table{
    border-collapse: collapse
}

table, th, td{
    border: 1px solid black;
}

thead{
    background-color: #27426d;
    color: #c7ced8;
    font-family: Arial;
}

th{
    height: 25px;
    width: 130px;
}
td{
    text-align: center;
    vertical-align: center;
    height: 25px;
    width: 130px;
}

tbody tr:nth-child(2n+1){
    background-color: #6facff;
    color: #c7ced8;
    font-family: Arial;
}

tbody tr:nth-child(2n){
    background-color: #4f8cef;
    color: #c7ced8;
    font-family: Arial;
}

tfoot{
    background-color: #27426d;
    color: #c7ced8;
    font-family: Arial;
}